@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
/* ======== CUSTOM PROPERTIES ========= */
:root {
    /* ======== Primary COLORS ========= */
    --pri-light-red: hsl(0, 100%, 67%);
    --pri-orange-yellow: hsl(39, 100%, 56%);
    --pri-green-teal: hsl(166, 100%, 37%);
    --pri-cobalt-blue: hsl(234, 85%, 45%);
    /* ======== GRADIENTS ========= */
    --lig-slate-blue:  hsl(251,100%,63%);
    --lig-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 0.2);
    --persian-blue: hsla(241, 72%, 46%, 1);
    /* ======== NEUTRAL COLORS ========= */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --lig-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    /* ======== FONT PROPERTIES ========= */
    --ff: 'Haken Grotesk', sans-serif;
    --fs: 18px;
    --fw-s: 500;
    --fw-m: 700;
    --fw-l: 800;
}

/* ======== CSS RESET START ========= */

*, *::before, *::after {
    box-sizing: border-box;
    
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: var(--ff);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--white);
    font-size: var(--fs);
    font-family: var(--ff);
    font-size: var(--fs);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

main {
    min-height: 100vh;
    width: 100%;
}

/* ========== CSS RESET END =========== */

